body {
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {margin: 20px 0;}

footer {
  margin-top: 50px;
}

.header {
  position: relative;
}

.challenge {
  position: absolute;
  top: -10px;
  left: 20px;
}

.recipe-content {
  text-align: left;
}

.recipe-photo {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.entry {
  border: 1px solid black;
  border-radius: 7px;
  margin: 10px 5px;
}

.upload-form {
  text-align: left;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tooltip {
  top: 100px !important;
}
.cta {
  margin-top: 50px;
}